
    <div class = "single_message">
      <a><%= message.user.name %></a>
      <p class = "message_time"><%= message.created_at %></p>
      <p class = "message_detail"><%= message.content %></p>
    </div>